<a href="#" style="text-decoration: none; color: #fff; width: auto;">
    <div class="custom-entrenadores item position-relative" style="background: #101116;">

        <div class="position-absolute" style=" top: 10px; left: 6px;"><img
                src="src/img/inconos/logo.png" alt="" width="40px"></div>

        <div class="w-100"> <!--class="position-absolute" style="width: 100%; bottom: 0;"-->
            <img src="src/img/entrenador4.png" alt="" width="200px">
        </div>
        <div class="position-absolute d-flex flex-wrap text-white"
            style="z-index: 1; bottom: 0; width: 100%; border-radius: 1px 40px 0 0; height: 110px; background: rgba(255,255,255,0.15); -webkit-backdrop-filter: blur(19px); backdrop-filter: blur(21px); border: 1px solid rgba(255,255,255,0.225);">

            <div class="position-relative" style="padding: 4px;">
                <p style="margin-bottom: 0;">El uso Carruso</p>
                <p class="position-absolute" style=" font-size: 10px;">Entrenador Personal
                </p>

                <div class="position-absolute"
                    style="bottom: 0; left: 3px; display: flex; gap: 2px; ">
                    <figure class=" d-flex justify-content-center align-items-center"
                        style="backdrop-filter: blur(20px); border: 1px solid #fff; border-radius: 50%; overflow: hidden; padding: 1px; width: 20px; height: 20px; padding: 1em;  background: rgba(255, 255, 255, 0.753); -webkit-backdrop-filter: blur(19px); backdrop-filter: blur(21px); border: 1px solid rgba(255,255,255,0.225);">
                        <img src="src/img/inconos/iconos-spinning.png" alt="" width="20px"
                            height="20px">
                    </figure>
                    <figure class=" d-flex justify-content-center align-items-center"
                        style="backdrop-filter: blur(20px); border: 1px solid #fff; border-radius: 50%; overflow: hidden; padding: 1px; width: 20px; height: 20px; padding: 1em;  background: rgba(255, 255, 255, 0.753); -webkit-backdrop-filter: blur(19px); backdrop-filter: blur(21px); border: 1px solid rgba(255,255,255,0.225);">
                        <img src="src/img/running.png" alt="" width="20px"
                            height="20px">
                    </figure>
                    <figure class=" d-flex justify-content-center align-items-center"
                        style="backdrop-filter: blur(20px); border: 1px solid #fff; border-radius: 50%; overflow: hidden; padding: 1px; width: 20px; height: 20px; padding: 1em;  background: rgba(255, 255, 255, 0.753); -webkit-backdrop-filter: blur(19px); backdrop-filter: blur(21px); border: 1px solid rgba(255,255,255,0.225);">
                        <img src="src/img/inconos/icons-boxing.png" alt="" width="20px"
                            height="20px">
                    </figure>
                </div>

                <!--boton inicion modal-->
                <button popovertarget="modal3"
                    class="btn btn-primary position-absolute d-flex justify-content-center align-items-center"
                    style="bottom: 10px; right: -79px; border-radius: 50%; width: 50px; height: 50px;">
                    <img src="src/img/inconos/icons-turnRigth.png" alt="">
                </button>

                <!--------------------------------------------------------------inicio modal----------------------------------------------->
                <div id="modal3" popover class="border-0 position-relative w-75 w-sm-25"
                    style="background: #101116; border-radius: 40px;">
                    <div class="row text-white" style="background: #101116;">

                        <div class="col-4" style="margin-top: 20px;">
                            <p style="font-size: 26px; padding: 1em;">El uso Carruso</p>
                            <div class="d-flex flex-column" style="margin-left: 30px;">

                                <figure
                                    class=" d-flex justify-content-center align-items-center"
                                    style="backdrop-filter: blur(20px); border: 1px solid #fff; border-radius: 50%; overflow: hidden; padding: 1px; width: 20px; height: 20px; padding: 1em;  background: rgba(255, 255, 255, 0.753); -webkit-backdrop-filter: blur(19px); backdrop-filter: blur(21px); border: 1px solid rgba(255,255,255,0.225);">
                                    <img src="src/img/inconos/iconos-spinning.png" alt=""
                                        width="20px" height="20px">
                                </figure>

                                <figure
                                    class=" d-flex justify-content-center align-items-center"
                                    style="backdrop-filter: blur(20px); border: 1px solid #fff; border-radius: 50%; overflow: hidden; padding: 1px; width: 20px; height: 20px; padding: 1em;  background: rgba(255, 255, 255, 0.753); -webkit-backdrop-filter: blur(19px); backdrop-filter: blur(21px); border: 1px solid rgba(255,255,255,0.225);">
                                    <img src="src/img/running.png" alt=""
                                        width="20px" height="20px">
                                </figure>
                                <figure
                                    class=" d-flex justify-content-center align-items-center"
                                    style="backdrop-filter: blur(20px); border: 1px solid #fff; border-radius: 50%; overflow: hidden; padding: 1px; width: 20px; height: 20px; padding: 1em;  background: rgba(255, 255, 255, 0.753); -webkit-backdrop-filter: blur(19px); backdrop-filter: blur(21px); border: 1px solid rgba(255,255,255,0.225);">
                                    <img src="src/img/inconos/icons-boxing.png" alt=""
                                        width="20px" height="20px">
                                </figure>
                            </div>

                        </div>

                        <div class="col-8 d-flex justify-content-center align-items-center">
                            <img src="src/img/entrenador4.png" alt="" width="200px">
                        </div>
                    </div>

                    <div class="d-flex flex-row w-100 justify-content-evenly">
                        <a href="#"><img src="src/img/inconos/LineiconsInstagramOriginal.png"
                                alt="Instagram Icon"></a>
                        <a href="#"><img src="src/img/inconos/CiFacebook.png" alt="">
                            </figure></a>
                        <a href=""><img src="src/img/inconos/MdiLinkedin.png" alt=""></a>
                    </div>

                    <button popovertarget="modal3" popovertargetaction="hide"
                        class="position-absolute"
                        style="right: 20px; top: 20px; background: transparent; border: 0;"><img
                            src="src/img/inconos/Icons-Salir.png" alt=""
                            width="30px"></button>
                    <button class="btn btn-primary my-3 w-100">enviar mensaje</button>
                </div>

            </div>

        </div>

    </div>
</a>