<div class="container-fluid m-3 w-100 w-sm-100">

    <div class="wrapper d-flex" style="max-height: 120px;  overflow-x: auto; height: 77px;">


        <a href="#" style="text-decoration: none; color: #000;">
            <div class="custom-proximas-clases item">

                <div class="row" style=" width: 100%;">

                    <div class="col-4"
                        style="display: flex; padding: 0; justify-content: center; align-items: center;">
                        <img src="src/img/running.png" alt="icons-running" width="40px"
                            height="40px">
                    </div>

                    <div class="col-8"
                        style="display: flex; justify-content: center; align-items: center;">
                        <h6>Cardio</h6>

                    </div>

                </div>

            </div>
        </a>

        <a href="#" style="text-decoration: none; color: #000;">
            <div class="custom-proximas-clases item">

                <div class="row" style=" width: 100%;">

                    <div class="col-4"
                        style="display: flex; padding: 0; justify-content: center; align-items: center;">
                        <img src="src/img/inconos/iconos-spinning.png" alt="icons-running"
                            width="30px" height="30px">
                    </div>

                    <div class="col-8"
                        style="display: flex; justify-content: center; align-items: center;">
                        <h6>Spinning</h6>

                    </div>

                </div>

            </div>
        </a>

        <a href="#" style="text-decoration: none; color: #000;">
            <div class="custom-proximas-clases item">

                <div class="row" style=" width: 100%;">

                    <div class="col-4"
                        style="display: flex; padding: 0; justify-content: center; align-items: center;">
                        <img src="src/img/inconos/icons-boxing.png" alt="icons-running"
                            width="30px" height="30px">
                    </div>

                    <div class="col-8"
                        style="display: flex; justify-content: center; align-items: center;">
                        <h6>Boxing</h6>

                    </div>

                </div>

            </div>
        </a>

        <a href="#" style="text-decoration: none; color: #000;">
            <div class="custom-proximas-clases item">

                <div class="row" style=" width: 100%;">

                    <div class="col-4"
                        style="display: flex; padding: 0; justify-content: center; align-items: center;">
                        <img src="src/img/inconos/icons-zumba.png" alt="icons-running"
                            width="30px" height="30px">
                    </div>

                    <div class="col-8"
                        style="display: flex; justify-content: center; align-items: center;">
                        <h6>Zumba</h6>

                    </div>

                </div>


            </div>
        </a>

        <a href="#" style="text-decoration: none; color: #000;">
            <div class="custom-proximas-clases item">

                <div class="row" style=" width: 100%;">

                    <div class="col-4"
                        style="display: flex; padding: 0; justify-content: center; align-items: center;">
                        <img src="src/img/Icons-Biceps.png" alt="icons-running" width="30px"
                            height="30px">
                    </div>

                    <div class="col-8"
                        style="display: flex; justify-content: center; align-items: center;">
                        <h6 style="font-size: 14px;">IronCWout</h6>

                    </div>

                </div>

            </div>
        </a>

        <a href="#" style="text-decoration: none; color: #000;">
            <div class="custom-proximas-clases item">

                <div class="row" style=" width: 100%;">

                    <div class="col-4"
                        style="display: flex; padding: 0; justify-content: center; align-items: center;">
                        <img src="src/img/icons-peso-rusa.png" alt="icons-running" width="40px"
                            height="40px">
                    </div>

                    <div class="col-8"
                        style="display: flex; justify-content: center; align-items: center;">
                        <h6>CrossFit</h6>

                    </div>

                </div>

            </div>
        </a>

        <a href="#" style="text-decoration: none; color: #000;">
            <div class="custom-proximas-clases item">

                <div class="row" style=" width: 100%;">

                    <div class="col-4"
                        style="display: flex; padding: 0; justify-content: center; align-items: center;">
                        <img src="src/img/Icons-Yoga.png" alt="icons-running" width="40px"
                            height="40px">
                    </div>

                    <div class="col-8"
                        style="display: flex; justify-content: center; align-items: center;">
                        <h6>Yoga</h6>

                    </div>

                </div>

            </div>
        </a>


    </div>
</div>