@font-face {
  font-family: 'Valorant';
  src: url("fonts/Valorant-Font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: var(--font-valorant);
}

:root {
  --font-valorant: 'Valorant', sans-serif;
  --color-claro: #8689AC;
  --color-2: #587099;
  --color-3: #3F5576;
  --color-4: #2F3148;
  --color-dark: #101116;
}

.imageninicio {
  width: 100%;
  height: auto;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.2));

  -webkit-mask-image: linear-gradient(black 89%, transparent),
    linear-gradient(to left, black 20%, transparent);
  -webkit-mask-composite: intersect;

  mask-image: linear-gradient(black 89%, transparent),
    linear-gradient(to left, black 20%, transparent);
  mask-composite: intersect;
  animation: parpadeo 2s infinite alternate ease-in-out;
}

body {
  z-index: -2;
  background-color: #100f18;
  background-image: radial-gradient(ellipse 80% 80% at 50% -20%,
      rgba(0, 0, 0, 0.096),
      rgba(255, 255, 255, 0))
}

.tarjetamedio {
  background: rgba(255, 255, 255, 0.04);
  border-radius: 10px 100px 10px 150px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(17.5px);
  -webkit-backdrop-filter: blur(17.5px);
  z-index: -100;
}

.login-form {
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(17.5px);
  -webkit-backdrop-filter: blur(17.5px);
}

@keyframes parpadeo {
  0% {

    opacity: 1;
    transform: translateY(0);
  }

  50% {
    opacity: 0.5;
    transform: translateY(-3px);
  }

  100% {
    opacity: 0.9;
    transform: translateY(-5px);
  }

}

.custom-navbar a {
  transition: all 0.5s ease;
}

.custom-navbar {
  background: rgba(241, 240, 240, 0.11);
  z-index: 10000;
  backdrop-filter: blur(20.5px);
  -webkit-backdrop-filter: blur(30.5px);
  border-radius: 10px;
}

.custom-navbar a img {
  width: 27px;

}

.custom-navbar a:hover {
  transform: translateY(-10px);
  background-color: #8689ac34;
  border-radius: 50%;
  padding: 1em;
}

.pagina-inicial {
  background-color: #8689ac34;
  border-radius: 50%;
  padding: 1em;
}

.wrapper::-webkit-scrollbar{
  display: none;
}

.cartas-rutinas{
  transition: transform 0.3s ease-in-out;
  background: transparent;
}
.cartas-rutinas:hover{
  transform: scale(1.1);

}

.fondo-rutina{
  position: relative;
    height: 100%;
    width: 100%;
    background-color: black;
    background-image: 
        linear-gradient(to right, rgba(79, 79, 79, 0.18) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(128, 128, 128, 0.04) 1px, transparent 1px),
        radial-gradient(circle 400px at 50% 300px, rgba(251, 251, 251, 0.21), black);
    background-size: 14px 24px, 14px 24px, cover;
}

.custom-proximas-clases{
  min-width: 150px; 
  height: 60px; 
  text-align: center; 
  margin-right: 5px; 
  box-sizing: content-box; 
  overflow: hidden; 
  display: flex; 
  justify-content: center; 
  border-radius: 20px; 
  border: 1px solid #7a7a7a;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(13, 12, 110, 0.3) 0px 7px 13px -3px, rgba(16, 9, 83, 0.2) 0px -3px 0px inset;
}

.custom-entrenadores{
  min-width: 250px; 
  height: 300px; 
  text-align: center; 
  margin-right: 5px; 
  box-sizing: content-box; 
  overflow: hidden; 
  display: flex; 
  justify-content: center; 
  border-radius: 20px; 
  border: 1px solid #7a7a7a;
}

input::placeholder{
  color: #7a7a7a13;
  font-size: 10px;
}
input:focus::placeholder {
  color: transparent;
  transition: all 0.5s ease-in-out;
}
